/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.navbar{
    margin-top: -8px;
    /* padding-left: -5px; */
    margin-left: -8px;
    margin-right: -8px;
  }
  .hero{
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    word-wrap: break-word;
    padding-top: 10px;
   
    color: rgb(41, 113, 207);
  }
  .leading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    word-break: break-all;
    word-spacing: 10px;
    margin-top: -10px;
  }
  .card{
    width: 230px;
    padding: 20px;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 10px;
    justify-content: center;
    text-align: center;
    margin-left: 38px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .card-img {
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   
   /* .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   } */
   
   .card-footer {
    width: 100%;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   .text-title {
    font-size: 20px;
   }
  .button{
    padding-top: 13px;
  }
  .card1{
    height: 190px;
    margin: 50px;
  }
  .title{
    font-size: 20px;
    margin-top: -40px;
  }
  .price{
    font-weight: bold;
    font-size: 25px;
   
  }
  .detailsCard{
    margin-left: 100px;
    margin-bottom: 20px;
  }
  .cardbutton{
    margin-top: -40px;
  }
  .dream{
    list-style: none;
    text-decoration: none;
    color: white;
  }
  .category{
    font-weight: bold;
    margin-top: -20px;
  }
  .text-white{
    font-size: 20PX;
    list-style: none;
    text-decoration: none;
  }
  .goback{
    text-decoration: none !important;
    color: white;
  }